<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/admin/css/font.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">管理员管理</a>
        <a>
          <cite>管理员列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn" onclick="x_admin_show('添加管理员','/admin/editManager',600,400)"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：<span id="countManager">0</span> 条</span>
      </xblock>
      <table class="layui-table" id="managerListTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>性别</th>
            <th>生日</th>
            <th>住址</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>QQ</th>
            <th>微信</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
        
        init();
      });

      /*用户-删除*/
      function managerDel(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.ajax({
            	  url:"/admin/delManager",
     			 type:"POST",
     			 dateType:"json",
     			 data:{
     				 id:id
     			 },
     			 success:function(data){
     				 console.log(data);
     			 }
              });
              $(obj).parents("tr").remove();
              layer.msg('已删除!',{icon:1,time:1000});
          });
      }
	  function init(){
		  var page = 1;
		  $.ajax({
			 url:"/admin/loadManagerList",
			 type:"POST",
			 dateType:"json",
			 data:{
				 page:page
			 },
			 success:function(data){
				 //console.log(data);
				 if(data.code == 200){
					 $('#countManager').text(data.managerCount);
					 $.each(data.managerList,function(index,item){
						 $('#managerListTable').append('<tr><td>'+(item.id)+'</td><td>'+(item.name)+'</td><td>'+(item.sex == 0?"女":"男")+'</td><td>'+(item.birthday!=null?item.birthday.substr(0,10):"无")+'</td><td>'+(item.address!=null?item.address:"无")+'</td><td>'+(item.phone!=null?item.phone:"无")+'</td><td>'+(item.email!=null?item.email:"无")+'</td><td>'+(item.qq!=null?item.qq:"无")+'</td><td>'+(item.wechat!=null?item.wechat:"无")+'</td><td class="td-manage"><a title="编辑"  onclick="x_admin_show(\'编辑\',\'/admin/editManager?op=1&id='+(item.id)+'\',600,400)" href="javascript:;"><i class="layui-icon">&#xe642;</i></a><a onclick="x_admin_show(\'修改密码\',\'member-password.html\',600,400)" title="修改密码" href="javascript:;"><i class="layui-icon">&#xe631;</i></a><a title="删除" onclick="managerDel(this,'+(item.id)+')" href="javascript:;"><i class="layui-icon">&#xe640;</i></a></td></tr>');
					 }); 
				 }
			 }
		  });
	  }
	  /* function formatTimeStamp(timeStamp){
		  var date = new Date(timeStamp);
		  Y = date.getFullYear() + '-';
		  M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
		  D = date.getDate() + ' ';
		  h = date.getHours() + ':';
		  m = date.getMinutes() + ':';
		  s = date.getSeconds();
		  return Y+M+D+h+m+s;
	  } */
    </script>
  </body>

</html>