<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/admin/css/font.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    	#loadMore{
    		width:100px;
    		height:30px;
    		line-height:30px;
    		margin:10px auto;
    		border:1px solid #ccc;
    		border-radius:5px;
    		text-align:center;
    		cursor:pointer;
    		letter-spacing:3px;
    	}
    </style>
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">商品管理</a>
        <a>
          <cite>专栏商品</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" id="searchForm">
          <input type="checkbox" name="typeId" value=0 title="全部" checked lay-filter="checkType">
		  <input type="checkbox" name="typeId" value=1 title="订阅惊喜" checked lay-filter="checkType"> 
		  <input type="checkbox" name="typeId" value=2 title="单束花礼" checked lay-filter="checkType">
		  <input type="checkbox" name="typeId" value=3 title="永生花礼" checked lay-filter="checkType"> 
		  <input type="checkbox" name="typeId" value=4 title="花边小物" checked lay-filter="checkType">
          <input type="text" name="shoppingName"  placeholder="商品名称" autocomplete="off" class="layui-input">
          <button type="button" class="layui-btn" onclick="search();"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <!-- <button class="layui-btn layui-btn-danger" onclick="delAll()" id="delManyBtn"><i class="layui-icon"></i>批量删除</button> -->
        <button class="layui-btn" onclick="x_admin_show('添加商品','/admin/normalShoppingEdit')"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：<span id="shopNum">0</span> 条</span>
      </xblock>
      <table class="layui-table" id="shoppingTable">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>商品栏目</th>
            <th>商品图片</th>
            <th>商品名称</th>
            <th>商品介绍</th>
            <th>爱尚价格</th>
            <th>市场价</th>
            <th>库存</th>
            <th>上架时间</th>
            <th>是否销售</th>
            <th>操作</th></tr>
        </thead>
        <tbody id="shoppingTbody">
        </tbody>
      </table>
      <div id="loadMore">加载更多</div>
    </div>
  </body>
  <script>
  var layer;
  var form;
  var page=pageCount=1;
  var typeName = new Array();
  typeName[1]='订阅惊喜';
  typeName[2]='单束花礼';
  typeName[3]='永生花礼';
  typeName[4]='花边小物';
  init();
  
  
  function init(){
	  layui.use(['layer','form'],function(){
		  layer = layui.layer;
		  form = layui.form;
		  getShoppings();
		  bindMyEvents();
	  });
  }
  function getShoppings(){
	  var loadIndex;
	  $.ajax({
		  url:'/admin/searchNmShoppings',
		  type:'GET',
		  data:getSearchKey(),
		  dataType:'json',
		  beforeSend:function(xhr){
			  loadIndex = layer.load();
		  },
		  success:function(res){
			 if(res.code == 200){
				 showTable();
				 $('#shopNum').text(res.shopCount);
				 pageCount = res.pageCount;
				 $.each(res.shoppings,function(index,item){
					 $('#shoppingTbody').append('<tr><td><div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id="'+(item.id)+'"><i class="layui-icon">&#xe605;</i></div></td><td>'+(item.id)+'</td><td>'+(typeName[item.typeId])+'</td><td></td><td>'+(item.shoppingName)+'</td><td>'+(item.introduction!=null?(item.introduction.length>15?item.introduction.substr(0,15)+'...':item.introduction):"")+'</td><td>'+(item.asPrice)+'</td><td>'+(item.nmPrice)+'</td><td>'+(item.store)+'</td><td>'+(item.onShelveTime)+'</td><td>'+(item.isSale==true?"是":"否")+'</td><td><button class="layui-btn layui-btn-sm" onclick="x_admin_show(\'编辑商品信息\',\'/admin/normalShoppingEdit?sid='+(item.id)+'\')">查看 || 编辑</button> <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" onclick="del(this,'+(item.id)+')">删除</button></td>');
				 });
				 if(page <= pageCount){
					 $('#loadMore').hide();
				 }
			 }else{
				 hideTable();
			 }
		  },
		  complete:function(xhr,testStatus){
			  layer.close(loadIndex);
		  }
		  
	  });
  }
  function loadMore(){
	  page++;
	  getShoppings();
  }
  function search(){
	  page = 1;
	  renderTableEmpty();
	  getShoppings();
  }
  function del(ele,sid){
	  layer.confirm('确认要删除吗？', {
		  btn: ['是','否'] //按钮
		}, function(){
			if(sid>0){
			  $.ajax({
				 url:'/admin/nmShoppingDel',
				 type:'GET',
				 dataType:'json',
				 data:{sid:sid},
				 success:function(res){
					 if(res.code == 200){
						 layer.msg('删除成功！',{icon:6,time:2000});
						 $(ele).parent().parent().remove();
						 var sn = $('#shopNum').text();
						 sn--;
						 $('#shopNum').text(sn);
						 if(!sn){
							 hideTable();
						 }
					 }else{
						 layer.msg('删除失败了=_=!',{icon:5});
					 }
				 }
			  });
			}else{
				layer.msg('删除失败了=_=!',{icon:5});
			}
		}, function(){});
  }
  function getSearchKey(){
	  var typeIds = [];
	  $("input[name=typeId]:checked").each(function(i){
		  typeIds[i] = $(this).val();
	  });
	  if($.inArray('0',typeIds)>=0){
		  typeIds = [1,2,3,4];
	  }
	  var sname = $('input[name=shoppingName]').val();
	  return {page:page,typeIds:typeIds,sname:sname};
  }
  
  function renderTableEmpty(){
	  $('#shoppingTbody').empty();
  }
  function hideTable(){
	  $('#shoppingTable').hide();
	  $('#shopNum').text(0);
  }
  function showTable(){
	  $('#shoppingTable').show();
  }
  
  function bindMyEvents(){
	  form.on('checkbox(checkType)', function(data){
		  //console.log(data.elem); //得到checkbox原始DOM对象
		  //console.log(data.elem.checked); //是否被选中，true或者false
		  if(data.elem.checked && data.value ==0){
			  $("input[type='checkbox'][name='typeId']").prop("checked", true);
		  }else if(!data.elem.checked && data.value ==0){
			  $("input[type='checkbox'][name='typeId']").prop("checked", false);
		  }else if(data.elem.checked && !$("input[type='checkbox'][name='typeId'][value=0]").is(':checked') && $("input[type='checkbox'][name='typeId']:checked").length==4){
			  $("input[type='checkbox'][name='typeId'][value=0]").prop("checked", true);
		  }else{
			 if($("input[type='checkbox'][name='typeId'][value=0]").is(':checked')){
				 $("input[type='checkbox'][name='typeId'][value=0]").prop("checked", false);
			 }
		  }
		  form.render('checkbox');
		});
	  $('#loadMore').on('click',function(){
		  loadMore();
	  });
  }
  </script>
</html>