<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>购物车</title>
        <link rel="stylesheet" href="/static/home/css/cssreset.css">
        <link rel="stylesheet" href="/static/home/css/cart.css">
    </head>
    <body>
    <header>
		<span class="left"><a href="javascript:;" id="backHome"> <img src="/static/home/images/back.png" alt=""></a></span>
		<p>购物车</p>
		<span class="right" id="editBtn" th:if="${!needLogin}">编辑</span>
	</header>
	<main th:if="${!needLogin}">
		<div class="imfor" th:each="item:${cartList}">
			<input type="hidden" th:value="${item.sid}"/>
			<div class="choice">
				<input type="checkbox" class="current">
				<div class="bg"></div>
			</div>
			<div class="pic">
				<img th:src="${shopInfo.get(item.id).shoppingImg}" alt="">
			</div>
			<div class="news">
				<h3 th:text="${shopInfo.get(item.id).shoppingName}"></h3>
				<p class="con" th:text="${shopInfo.get(item.id).introduction}"></span></p>
				<p class="price">¥ <span th:text="${shopInfo.get(item.id).asPrice}" class="priceNum">99.00</span></p>
			</div>
			数量

	       	<div class="num">
		       	<div>
		       		<div class="left"><img src="/static/home/images/reduce.png" alt=""></div>
		       		<div class="center"><input type="text" th:value="${item.count}"></div>
		       		<div class="right"><img src="/static/home/images/plus.png" alt=""></div>
		       	</div>
	       	</div>
	    </div> 
	</main>
	<!-- 结算部分 -->
	<div class="count" th:if="${!needLogin}">
		<div class="choice">
			<input type="checkbox" ><span>全选</span>
		    <div class="bg"></div>
		</div>
		<div class="total">
			<div class="sure"><a href="javascript:;" id="ConfirmBtn">结算</a></div>
			<div class="price">合计：<span id="totalMoney">0</span></div>
		</div>
	</div>
	


    <footer>
		  	<ul>
		  		<li >
		  		    <a href="/">
			  			<img src="/static/home/images/home.png" alt="">
			  			<p>首页</p>
		  			</a>
		  		</li>
		  		<li>
		  		    <a href="#">
			  			<img src="/static/home/images/service.png" alt="">
			  			<p>客服</p>
		  			</a>
		  		</li>
		  		<li class="current">
		  		    <a href="/home/shoppingCart">
			  			<img src="/static/home/images/cart_select.png" alt="">
			  			<p>购物车</p>
		  			</a>
		  		</li>
		  		<li>
		  		    <a href='/home/user/userinfo'>
			  			<img src="/static/home/images/user.png" alt="">
			  			<p>我的</p>
		  			</a>
		  		</li>
		  		
		  	</ul>
	</footer>
	<script src='/static/home/js/jquery.min.js'></script>
	<script src='/static/home/js/cart.js'></script>
	<script>
	
		$('#backHome').click(function(){
			updateCart();
		});	
		function updateCart(){
			var info = new Array();
			$('.imfor').each(function(index,item){
				var id = $(item).children('input:first').val();
				var count = $(item).find(".num:first input:first").val();
				var arri = [id,count];
				info.push(arri);
			});
			if(info.length){
				$.ajax({
					url:'/home/updateCart',
					type:'POST',
					dataType:'json',
					traditional:true,/*防止深度序列号 */
					data:{content:info},
					success:function(res){
						console.log(res);
					},
					complete:function(xhr,tx){
						location.href="/";
					}
				});
			}else{
				location.href="/";
			}
		};
		
		var postStatus = false;
		$('#ConfirmBtn').click(function(){
			if(!postStatus){
				var total = parseFloat($('#totalMoney').text());
				if(total>0){
					var shops = [];
					$('.imfor').each(function(index,item){
						if($(item).find("input[type=checkbox]:first").is(":checked")){
							var id = $(item).children('input:first').val();
							var count = $(item).find(".num:first input:first").val();
							var arri = [id,count];
							shops.push(arri);
						}
						
					});
					if(shops.length){
						$.ajax({
							url:'/home/order/orderCreate',
							type:'POST',
							dataType:'json',
							traditional:true,/*防止深度序列号 */
							data:{shops:shops},
							success:function(res){
								$('#ConfirmBtn').attr("disable",true);
								location.href=res.href;
							}
						});
					}
				}
			}
		});
		
		$('.imfor input[type=checkbox]').click(function(){
			if($('.imfor input[type=checkbox]:checked').length){
				$('.total .sure').css("background-color",'#fe5478');
				$('.total .sure').prop("checked",false);
			}else{
				$('.total .sure').css("background-color",'#ccc');
				$('.total .sure').prop("checked",false);
			}
			if($(this).is(":checked")){
				var money = $(this).parent().parent().find('.priceNum:first').text();
				$('#totalMoney').text(parseFloat($('#totalMoney').text())+parseFloat(money));
			}else{
				var money = $(this).parent().parent().find('.priceNum:first').text();
				$('#totalMoney').text(parseFloat($('#totalMoney').text())-parseFloat(money));
			}
		});
		
	</script>
    </body>
</html>