<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>商品详情</title>
	<link rel="stylesheet" href="/static/home/css/cssreset.css">
	<link rel="stylesheet" href="/static/home/css/detail.css">
</head>
<body>
	<header>

		<span class="left"> <img src="/static/home/images/back.png" alt=""></span>
		<p>商品详情</p>
		<span class="right"><img src="/static/home/images/user.png" alt=""></span>
	</header>
	<!-- 轮播图 -->
	<div class="rotate">
		<ul>
			<li ><a href="#"><img src="/static/home/images/dban1.jpg" alt="" ></a></li>
			<li><a href="#"><img src="/static/home/images/dban2.jpg" alt="" ></a></li>
			<li ><a href="#"><img src="/static/home/images/dban3.jpg" alt="" ></a></li>
			<li><a href="#"><img src="/static/home/images/dban4.jpg" alt="" ></a></li>

		</ul>
		<ol>
			<li class="current"></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
	</div>
	<section>
		<!-- 标题 -->
		<div class="title">
			<h2>缤纷设计鲜花系列</h2>
			<p>一周一花, 似锦繁花, 五种不同花材, 缤纷多样</p>
			<p>运费：免运费</p>
		</div>
        <!-- 周期购 -->
		<div class="pack">
			<div class="backtime">周期购</div>
			<div class="desc">该商品为订阅包月鲜花，每1周配送一次</div>
		</div>
       <!-- 主要信息 -->
       <main>
        	
	       	
	       	 	<!-- 价格 -->
	       	<div class="number">
	       		<div class="title">爱尚价格</div>
	       		<div class="num">
		       		<span class='textcolor'>￥288.6</span>
	       		</div>
	       	
	       	</div>
	       		<div class="number mprice">
	       		<div class="title">市场价格</div>
	       		<div class="num">
		       		<del>￥388.6</del>
	       		</div>
	       	
	       	</div>
	       
	       	<!-- 数量 -->
	       	<div class="number">
	       		<div class="title">数量</div>
	       		<div class="num">
		       		<div>
		       			<div class="left"><img src="/static/home/images/reduce.png" alt=""></div>
		       			<div class="center"><input type="text" value="1"></div>
		       			<div class="right"><img src="/static/home/images/plus.png" alt=""></div>
		       		</div>
	       		</div>
	       	</div>
	       	
	       	
       </main>
       <div class="pd"></div>
       <!-- 商品展示 -->
       <div class="showtitle">
	       	<ul>
	       		<li class="current">
	       			商品展示
	       		</li>
	       		<li>买家晒单</li>
	       		
	       	</ul>
       </div>
       <div class="goods">
	       	<div class="imfor current">
	       	   <div>
	       	   	<ul>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic1.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic2.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic3.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic4.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic5.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic6.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic7.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic8.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic9.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic10.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic11.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic12.gif" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic13.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic14.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic15.jpg" alt=""></a>
	       	   		</li>
	       	   		<li>
	       	   			<a href="#"><img src="/static/home/images/dpic16.jpg" alt=""></a>
	       	   		</li>
	       	   	</ul>
	       	   </div>
	       	</div>
	        <div class="say">
	        	<div>买家秀</div>
	        </div>
       </div>
	</section>
	<footer>
		  	<ul>
		  		<li class="current">
		  		    <a href="/home/index">
			  			<img src="/static/home/images/home.png" alt="">
			  			<p>首页</p>
		  			</a>
		  		</li>
		  		<li>
		  		    <a href="#">
			  			<img src="/static/home/images/service.png" alt="">
			  			<p>客服</p>
		  			</a>
		  		</li>
		  		<li>
		  		    <a href="/home/shoppingCart">
			  			<img src="/static/home/images/cart.png" alt="">
			  			<p>购物车</p>
		  			</a>
		  		</li>
		  		<li class="join">
		  		    <a href="#">加入购物车</a>
		  		</li>
		  		<li class="buy">
		  		    <a href="#">立即购买</a>
		  		</li>
		  		
		  	</ul>
	</footer>
	

	<script src='/static/home/js/jquery.min.js'></script>
	<script src='/static/home/js/detail.js'></script>
</body>
</html>