<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 视口标签：禁止缩放 -->

	<title>首页</title>

	<link rel="stylesheet" href="/static/home/css/cssreset.css">
	<link rel="stylesheet" href="/static/home/css/style.css">
	<style>
		.layui-layer-loading .layui-layer-loading1 {
			margin: 0 auto;
		}
	</style>
</head>
<body>
    <!-- 头部 -->
	<header>
		<h1><img src="/static/home/images/logo.png" alt=""></h1>
		<div class="rotate">
			<ul>
				<li ><a href="#"><img src="/static/home/images/ban1.jpg" alt="" width="100%"></a></li>
				<li><a href="#"><img src="/static/home/images/ban3.jpg" alt="" width="100%"></a></li>
			</ul>
			<ol>
				<li class="current"></li>
				<li></li>
			</ol>
		</div>
	</header>
	<!-- 导航部分 -->
	<nav>
		<ul>
			<li>
				<a href="/home/surprised">
				    <img src="/static/home/images/lg1.gif" alt="">
				    <p>订阅惊喜</p>
				</a>
			</li>
			<li>
				<a href="html/fast.html">
				    <img src="/static/home/images/lg2.gif" alt="">
				    <p>极速送花</p>
				</a>
			</li>
			<li>
				<a href="html/forever.html">
				    <img src="/static/home/images/lg3.gif" alt="">
				    <p>永生花礼</p>
				</a>
			</li>
			<li>
				<a href="html/near.html">
				    <img src="/static/home/images/lg4.gif" alt="">
				    <p>花边小物</p>
				</a>
			</li>
			
		</ul>
	</nav>
	<!-- 主要内容部分 -->
	<main>
	    <!-- 限时抢购 -->
	    <div class="rush">
			<div class="title">
				<h4> 限时抢购</h4>
			  <a href="#"><img src="/static/home/images/back.png" alt='' height="18px"></a>
			</div>
			<div class="imfor">
				<ul>
					<li>
						<a href="#"><img src="/static/home/images/rush.jpg" alt=""></a>
						<div>
							<p>【迎中秋】富贵花开</p>
						    <p>¥49.90</p>
						</div>
						
						
					</li>
					<li>
						<a href="#"><img src="/static/home/images/rush1.jpg" alt=""></a>
						<div>
							<p>【i闪购】满天星</p>
							<p>¥45.90</p>

						</div>
					</li>
					<li>
						<a href="#"><img src="/static/home/images/rush2.jpg" alt=""></a>
						<div>
							<p>【i闪购】逸禾荔枝玫瑰</p>
							<p>¥59.90</p>
						</div>
					</li>
					<li>
						<a href="#"><img src="/static/home/images/rush3.jpg" alt=""></a>
						<div>
							<p>【中秋款】许愿流光瓶蓝牙音箱</p>
						    <p>¥198.00</p>
						</div>
						
					</li>
				</ul>
			</div>
		</div>
		 <!-- 订阅惊喜 -->
	    <div class="take" id="topic1">
			<div class="title">
				<h4> 订阅惊喜</h4>
			  <a href="#"><img src="/static/home/images/back.png" alt='' height="18px"></a>
			</div>
			<div class="tsurprise">
			   <ul>
				   	<!-- <li>
				   		<a href="/home/shoppingDetail"><img src="/static/home/images/h1.jpg" alt=""></a>
				   		<div class="tnews">
				   			<p>缤纷设计鲜花系列</p>
				   			<p>¥ 59.90  </p>
				   		</div>
				   	</li>
				   	<li>
				   		<a href="html/cart.html"><img src="/static/home/images/h2.jpg" alt=""></a>
				   		<div class="tnews">
				   			<p>纯真单品鲜花系列</p>
				   			<p>¥ 99.00  </p>
				   		</div>
				   	</li>
				   	<li>
				   		<a href="#"><img src="/static/home/images/h3.jpg" alt=""></a>
				   		<div class="tnews">
				   			<p>缤纷设计鲜花系列</p>
				   			<p>¥209.00</p>
				   		</div>
				   	</li>
				   	<li>
				   		<a href="#"><img src="/static/home/images/h4.jpg" alt=""></a>
				   		<div class="tnews">
				   			<p>为爱而来—非洲进口玫瑰系列</p>
				   			<p>¥ 99.90  </p>
				   		</div>
				   	</li>
				   	<li>
				   		<a href="#"><img src="/static/home/images/h5.jpg" alt=""></a>
				   		<div class="tnews">
				   			<p>轻奢甄选鲜花系列</p>
				   			<p>¥ 129.00  </p>
				   		</div>
				   	</li> -->
			   </ul>
			</div>
		</div>

		<!-- 单束花礼-->
		<div id="topic2">
			<div class="title">
				<h4> 单束花礼</h4>
			  <a href="#"><img src="/static/home/images/back.png" alt='' height="18px"></a>
			</div>
			<div class="single">
			    <ul>
			    	<!-- <li>
			    		<a href="#">
			    			<img src="/static/home/images/h6.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【送TA】33枝玫瑰系列</p>
			    			<p>¥ 199.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h7.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【送长辈】感恩&关怀款</p>
			    			<p>¥ 169.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h8.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【送TA】19枝玫瑰款</p>
			    			<p>¥ 169.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h9.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【送TA】明艳雪山&情迷戴安娜</p>
			    			<p>¥ 169.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h10.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【新品】一篮春色</p>
			    			<p>¥ 299.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h11.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>[星座花礼]星座鲜花-射手座</p>
			    			<p>¥ 269.00  </p>
			    		</div>
			    	</li> -->
			    	
			    </ul>
				
			</div>
		</div>

		<!-- 永生花礼-->
		<div id="topic3">
			<div class="title">
				<h4>永生花礼</h4>
			  <a href="#"><img src="/static/home/images/back.png" alt='' height="18px"></a>
			</div>
			<div class="single">
			    <ul>
			    	<!-- 
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h12.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【七夕款】许愿流光瓶蓝牙音箱</p>
			    			<p>¥ 198.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h13.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【永生花】爱的抱抱&秘密花园</p>
			    			<p>¥ 199.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h14.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>香皂花/永生花特卖</p>
			    			<p>¥ 69.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h15.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【永生花】星座永生花</p>
			    			<p>¥ 279.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h16.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【新年迎福】小财神</p>
			    			<p>¥ 399.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h17.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>【永生花】星光如梦</p>
			    			<p>¥ 279.00  </p>
			    		</div>
			    	</li>
			    	 -->
			    </ul>
				
			</div>
		</div>

		<!-- 花边小物-->
		<div id="topic4">
			<div class="title">
				<h4>花边小物</h4>
			  <a href="#"><img src="/static/home/images/back.png" alt='' height="18px"></a>
			</div>
			<div class="single">
			    <ul>
			    	<!-- 
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h18.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>手工气泡花瓶Victoria</p>
			    			<p>¥ 109.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h13.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>日本坂源花剪</p>
			    			<p>¥ 139.00  </p>
			    		</div>
			    	</li>
			    	<li>
			    		<a href="#">
			    			<img src="/static/home/images/h19.jpg" alt="">
			    		</a>
			    		<div class="snews">
			    			<p>爱尚花瓶集锦</p>
			    			<p>¥ 59.00  </p>
			    		</div>
			    	</li>
			    	 -->
			    </ul>
				
			</div>
		</div>

		<div class='mynews'>
			<div>
				<img src="/static/home/images/logo_gray.png" alt="">
			</div>
		  
		  <div>
		  	 <p>爱上鲜花，让喜欢成为习惯</p>
			 <p>小猪猪的毕业设计</p>
			 <p>学号：1510819080</p>
		  </div>
		 
		</div>
	</main>

    <footer>
		  	<ul>
		  		<li class="current">
		  		    <a href="#">
			  			<img src="/static/home/images/home_select.png" alt="">
			  			<p>首页</p>
		  			</a>
		  		</li>
		  		<li>
		  		    <a href="#">
			  			<img src="/static/home/images/service.png" alt="">
			  			<p>客服</p>
		  			</a>
		  		</li>
		  		<li>
		  		    <a href="/home/shoppingCart">
			  			<img src="/static/home/images/cart.png" alt="">
			  			<p>购物车</p>
		  			</a>
		  		</li>
		  		<li>
		  		    <a href="/home/user/userinfo">
			  			<img src="/static/home/images/user.png" alt="">
			  			<p>我的</p>
		  			</a>
		  		</li>
		  		
		  	</ul>
	</footer>
	<script src='/static/home/js/jquery.min.js'></script>
	<script type="text/javascript" src="/static/home/js/layui/layui.js" charset="utf-8"></script>
	<script src='/static/home/js/index.js'></script>
</body>
<script>
var reqC = 0;
var layer;
var loadI;
init();
function init(){
	layui.use('layer',function(){
		layer = layui.layer;
		
		loadI = layer.load(1,{shade:[0.5, '#393D49']});
		for(var i=1;i<=4;i++){
			eval('bindTopic'+i+'()');
		}
	});
	
}
function getTopShop(topid){
	return $.ajax({
		url:'/home/getShoppings',
		type:'GET',
		dataType:'json',
		data:{tid:topid},
		beforeSend:function(){
			reqC++;
		},
		success:function(res){
			console.log(res);
			return res;
		},
		error:function(xhr){
			return xhr;
		},
		complete:function(xhr,ts){
			if(reqC == 4){
				layer.close(loadI);
			}
		}
	});
}
function bindTopic1(){
	var topic1List = getTopShop(1);
	topic1List.then(function(res){
		if(res!=null && res.code == 200){
			var topicUl = $('#topic1').find('ul');
			var img;
			$.each(res.shoppings,function(index,item){
				imgsrc = item.shoppingImg.split('|')[0];
				topicUl.append('<li><a href="/home/shoppingDetail?topic=1&id='+(item.id)+'"><img src="'+(imgsrc)+'" alt=""></a><div class="tnews"><p>'+(item.shoppingName)+'</p><p>¥ '+(item.asPrice)+'  </p></div></li>');
			});
		}else{
			$('#topic1').hide();
		}
	});
}
function bindTopic2(){
	var topic2List = getTopShop(2);
	topic2List.then(function(res){
		if(res!=null && res.code == 200){
			var topicUl = $('#topic2').find('ul');
			var img;
			$.each(res.shoppings,function(index,item){
				imgsrc = item.shoppingImg.split('|')[0];
				topicUl.append('<li><a href="/home/shoppingDetail?topic=2&id='+(item.id)+'"><img src="'+(imgsrc)+'" alt=""></a><div class="snews"><p>'+(item.shoppingName)+'</p><p>¥ '+(item.asPrice)+'  </p></div></li>');
			});
		}else{
			$('#topic2').hide();
		}
	});
}
function bindTopic3(){
	var topic3List = getTopShop(3);
	topic3List.then(function(res){
		if(res!=null && res.code == 200){
			var topicUl = $('#topic3').find('ul');
			var img;
			$.each(res.shoppings,function(index,item){
				imgsrc = item.shoppingImg.split('|')[0];
				topicUl.append('<li><a href="/home/shoppingDetail?topic=3&id='+(item.id)+'"><img src="'+(imgsrc)+'" alt=""></a><div class="snews"><p>'+(item.shoppingName)+'</p><p>¥ '+(item.asPrice)+'  </p></div></li>');
			});
		}else{
			$('#topic3').hide();
		}
	});
}
function bindTopic4(){
	var topic4List = getTopShop(4);
	topic4List.then(function(res){
		if(res!=null && res.code == 200){
			var topicUl = $('#topic4').find('ul');
			var img;
			$.each(res.shoppings,function(index,item){
				imgsrc = item.shoppingImg.split('|')[0];
				topicUl.append('<li><a href="/home/shoppingDetail?topic=4&id='+(item.id)+'"><img src="'+(imgsrc)+'" alt=""></a><div class="snews"><p>'+(item.shoppingName)+'</p><p>¥ '+(item.asPrice)+'  </p></div></li>');
			});
		}else{
			$('#topic4').hide();
		}
	});
}
</script>
</html>
 	