<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>花边小物</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/home/css/cssreset.css">
	<link rel="stylesheet" href="/static/home/css/near.css">
</head>
<body>
	<header>
	    <input type="hidden" th:value=${page!=null?page:''}>
		<a href='/home/index'>
			<img src="/static/home/images/slogo.jpg" alt="">
		</a>
	</header>
	<main>
		 
	    <div >
			
			<div class="near">
			   <ul>
				   	<li>
				   		<a href="#"><img src="/static/home/images/npic1.jpg" alt=""></a>
				   		<div class="tnews">
				   			<p>手工气泡花瓶Victoria</p>
				   			<p>¥ 109.00 </p>
				   		</div>
				   	</li>
				   	<li>
				   		<a href="#"><img src="/static/home/images/npic2.jpg" alt=""></a>
				   		<div class="tnews">
				   			<p>日本坂源花剪</p>
				   			<p>¥ 139.00  </p>
				   		</div>
				   	</li>
				   	<li>
				   		<a href="#"><img src="/static/home/images/npic3.jpg" alt=""></a>
				   		<div class="tnews">
				   			<p>樱花舞</p>
				   			<p>¥59.00</p>
				   		</div>
				   	</li>
				   	<li>
				   		<a href="#"><img src="/static/home/images/npic4.jpg" alt=""></a>
				   		<div class="tnews">
				   			<p>爱尚花瓶集锦</p>
				   			<p>¥ 59.90  </p>
				   		</div>
				   	</li>
				   	
			   </ul>
			</div>
		</div>
	</main>
	<footer>
		<p>已经到底啦~~~~</p>
	</footer>


</body>
</html>