<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>我的订单</title>
	<link rel="stylesheet" href="/static/home/css/cssreset.css">
	<link rel="stylesheet" href="/static/home/css/order.css">
</head>
<body>
    <header>
	    <div class="back">
		    <a href="/home/user/userinfo">
		    	<img src="/static/home/images/back.png" alt="">返回
	    	</a>
	    </div>
		<div class="myorder">
			<p>我的订单</p>
		</div>
	</header>
	<main>
	<!-- 订单的状态 -->
		<div class="state">
			<ul>
				<li  class="current">全部订单</li>
				<li>待付款</li>
				<li>待发货</li>
				<li>待收货</li>
				<li>待评价</li>
				<li>已取消</li>
			</ul>
		</div>
		<section>
			<div class="allorder current">
			   <div>
			   	<ul>
			   		<li th:each="item:${allOlsts}">
			   			<div class="info">
			   				<div>
			   					<p>订单号：<span th:text="${item.item_serialNo}"></span></p>
			   					<p>日期：<span th:text="${#dates.format(item.order_createTime, 'yyyy年MM月dd日 HH时mm分')}"></span></p>
			   				</div>
			   				<div>
			   					状态：
			   					<span th:if="${item.item_status==0}">待付款</span>
			   					<span th:if="${item.item_status==1}">待发货</span>
			   					<span th:if="${item.item_status==2}">待收货</span>
			   					<span th:if="${item.item_status==3}">待评价</span>
			   					<span th:if="${item.item_status==4}">已取消</span>
			   				</div>
			   			</div>
			   			<div class="goods">
			   				<ul>
			   					<li>
			   						<img th:src="${item.item_shoppingImg}" alt="">
			   						<h3 th:text="${item.item_shoppingName}"></h3>	
			   					</li>
			   					<li><p><span th:text="${item.item_price}"></span> × <span  th:text="${item.item_count}"></span>	</p></li>
			   					<li><p th:text="${item.item_subTotal}"></p></li>
			   				</ul>
			   			</div>
			   			<div class="handle">
			   				<a th:if="${item.item_status==0}">付款</a>
			   				<a th:if="${item.item_status==1}">催单</a>
			   				<a href="#">取消</a>
			   				<a href="#">查看</a>
			   			</div>
			   		</li>
			   	</ul>
			   </div>
			</div>
			<div class="readyPay">未付款</div>
			<div class="readyPost">
				<div>
			   	<ul>
			   		
			   	</ul>
			   </div>
			</div>
			<div class="readyRece">
				<div>
			   	<ul>
			   		
			   	</ul>
			   </div>
			</div>
			<div class="ready">未评价</div>
			<div class="nopay">未售后</div>
			
		</section>
	</main>
	<script src='/static/home/js/jquery.min.js'></script>
	<script src='/static/home/js/order.js'></script>
</body>
<script type="text/javascript">
$(function(){
	var ready_post_link = '/home/order/ulist?s=1';
	$.ajax({
		url:ready_post_link,
		type:'GET',
		dataType:'json',
		success:function(res){
			if(res.code==200){
				$.each(res.data,function(index,item){
					var c = '<li><div class="info"><div><p>订单号：<span>'+(item.order_serialNo)+'</span></p><p>日期：<span>'+(item.order_createTime)+'</span></p></div><div>状态：待发货</div></div><div class="goods"><ul><li><img alt="" src="'+(item.item_shoppingImg)+'"/><h3></h3>	</li><li><p><span>'+(item.item_price)+'</span> × <span>'+(item.item_count)+'</span>	</p></li><li><p>'+(item.item_subTotal)+'</p></li></ul></div><div class="handle">提醒发货</div></li>';
					$('div.readyPost').append(c);
				});
			}
		}
	});
	
	var ready_post_link = '/home/order/ulist?s=2';
	$.ajax({
		url:ready_post_link,
		type:'GET',
		dataType:'json',
		success:function(res){
			if(res.code==200){
				$.each(res.data,function(index,item){
					var c = '<li><div class="info"><div><p>订单号：<span>'+(item.order_serialNo)+'</span></p><p>日期：<span>'+(item.order_createTime)+'</span></p></div><div>状态：待收货</div></div><div class="goods"><ul><li><img alt="" src="'+(item.item_shoppingImg)+'"/><h3></h3>	</li><li><p><span>'+(item.item_price)+'</span> × <span>'+(item.item_count)+'</span>	</p></li><li><p>'+(item.item_subTotal)+'</p></li></ul></div><div class="handle">确认收货</div></li>';
					$('div.readyRece').append(c);
				});
			}
		}
	});
});
</script>
</html>