<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>支付结果</title>
</head>
<body>
<strong>code:</strong><span th:text="${code}" id="pays"></span><br>
<strong>msg:</strong><span th:text="${msg}"></span><br>
</body>

<script src='/static/home/js/jquery.min.js'></script>
<script>
var paySuc = document.getElementById('pays').text();
if(paySuc==200){
	var i=5;
	var timer = setInterval(function(){
	    i--;
	    if(i ==1){
	        window.location.href="/home/order/ulist";
	    }
	},1000);
}

</script>
</html>