<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>确认订单</title>
	
	<link rel="stylesheet" href="/static/home/css/suerorder.css">
</head>
<body>
	<header>
		<div><img src="../images/address.png" alt=""></div>
		<div class="userinfor">
			<div class="infor">
				<p>收货人：小猪猪</p>
				<p class="num">18877493606</p>
			</div>
			
			<p>收货地址：广西贺州市八步区贺州学校西校区南苑西校区南苑西校区南苑校区南苑校区南苑校区南苑</p>
		</div>
	</header>
	<div class="way">
		<p>配送方式</p>
		<p class="byway">快递<span>免邮</span></p>
	</div>
	<div class="bg"></div>

	<main>
		<ul>
			<li>
				<div>
					<div class="pic"><img src="../images/h11.jpg" alt=""></div>
					<div class="picinfor">
						<p>最新上架，爱她就送她吧情人节不容错过的白玫瑰最新上架，爱她就送她吧情人节不容错过的白玫瑰</p>
						<p><span>最新上架最新上架最新上架最新上架</span></p>
						<p class="price">￥188</p>
						<p class="number">X2</p>
					</div>
				</div>
				<p>买家留言：<span>选填：填写内容已和卖家协商确认</span></p>
			</li>
			<li>
				<div>
					<div class="pic"><img src="../images/h17.jpg" alt=""></div>
					<div class="picinfor">
						<p>最新上架，爱她就送她吧情人节不容错过的白玫瑰最新上架，爱她就送她吧情人节不容错过的白玫瑰</p>
						<p><span>最新上架最新上架最新上架最新上架</span></p>
						<p class="price">￥188</p>
						<p class="number">X2</p> 
					</div>
				</div>
				<p>买家留言：<span>选填：填写内容已和卖家协商确认</span></p>
			</li>
		</ul>
	</main>

	<footer>
		<div class="acount">
			<p>合计：<span>￥988.00</span></p>
		</div>
		<div class="sure">确认订单</div>
	</footer>
	
</body>
</html>