<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>确认订单</title>
	
	<link rel="stylesheet" href="/static/home/css/suerorder.css">
</head>
<body>
  <div class="back">
       <div >
		    <a href="#">
		    	<img src="/static/home/images/back.png" alt="">
	    	</a>
	    </div>
		
  </div>
	    
	
	<header>
		<div><img src="/static/home/images/address.png" alt=""></div>
		<div class="userinfor">
			<div class="infor">
				<p>收货人：<span th:text="${order!=null?order.receiver:null}"></span></p>
				<p class="num" th:text="${order!=null?order.phone:null}"></p>
			</div>
			
			<p>收货地址：<span th:text="${order!=null?order.address:null}"></span></p>
		</div>
	</header>
	<div class="way">
		<p>配送方式</p>
		<p class="byway">快递<span>免邮</span></p>
	</div>
	<div class="bg"></div>

	<main>
		<ul>
			<li th:each="item:${orderitems}">
				<div>
					<div class="pic"><img th:src="${item.shoppingImg}" alt=""></div>
					<div class="picinfor">
						<p th:text="${item.shoppingName}"></p>
						<p><span th:text="${item.introduction}"></span></p>
						<p class="price">￥<span th:text="${item.price}"></span></p>
						<p class="number">X<span th:text="${item.count}">2</span></p>
					</div>
				</div>
				<input type="hidden" th:value="${item.id}">
				<p>买家留言:<input type="text" class="s_remark" placeholder='选填：填写内容已和卖家协商确认'></p>
			</li>
			
		</ul>
	</main>

	<footer>
		<div class="acount">
			<p>合计：<span>￥<span th:text="${order!=null?order.total:0}"></span></span></p>
		</div>
		<div class="sure" id="sureBtn">确认订单</div>
	</footer>
	
</body>
<script src='/static/home/js/jquery.min.js'></script>
<script>
$('#sureBtn').click(function(){

	var url="/home/order/orderPay";
	var form=$("<form></form>");  
    //设置属性  
    form.attr("action",url);  
    form.attr("method","post");  
    //创建input，即参数
    $('main ul li').each(function(index,item){
		var _id = $(this).find('s_remark').prev().val();
		var _content = $(this).find('s_remark').val();
		var rarr = _id+','+_content;
		var inputType=$("<input type='text' name='remarks'/>");  
	    inputType.attr("value",rarr);
	    form.append(inputType);
	});
    
    
    form.appendTo("body");    
    form.hide();  
    //提交表单  
    form.submit();
});

</script>
</html>