<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>确认订单</title>
	
	<link rel="stylesheet" href="/static/home/css/suerorder.css">
</head>
<body>
  <div class="back" onclick="javascript:history.back(-1);">
       <div >
		    <a href="#">
		    	<img src="/static/home/images/back.png" alt="">
	    	</a>
	    </div>
		
  </div>
	    
	
	<header>
		<div><img src="/static/home/images/address.png" alt=""></div>
		<div class="userinfor">
			<div class="infor">
				<p>收货人：<span th:text="${session.defReceAddress.receiver}"></span></p>
				<p class="num" th:text="${session.defReceAddress.phone}"></p>
			</div>
			
			<p>收货地址：<span th:text="${session.defReceAddress.address}"></span></p>
		</div>
	</header>
	<div class="way">
		<p>配送方式</p>
		<p class="byway">快递<span>免邮</span></p>
	</div>
	<div class="bg"></div>

	<main>
	<form action="/home/order/orderPay" method="POST">
		<input type="hidden" name="order_count" th:value="${#lists.size(result)}"/>
		<ul id="order_cul">
			<li th:each="item,iterStat:${result}">
				<input type="hidden"  th:value="${item.cid}" th:name="'i_cid'+${iterStat.index+1}" />
				<input type="hidden" th:value="${item.shop.id}" th:name="'i_id'+${iterStat.index+1}" />
				<div>
					<div class="pic"><img th:src="${item.shop.shoppingImg}" alt=""></div>
					<div class="picinfor">
						<p th:text="${item.shop.shoppingName}"></p>
						<p><span th:text="${item.shop.introduction}"></span></p>
						<p class="price">￥<span th:text="${item.shop.asPrice}"></span></p>
						<p class="number">X<span th:text="${item.buynum}"></span></p>
						<input type="hidden" th:name="'i_num'+${iterStat.index+1}" th:value="${item.buynum}"/>
					</div>
				</div>
				<p>买家留言:<input type="text" th:name="i_remark+${iterStat.index+1}" placeholder='选填：填写内容已和卖家协商确认'></p>
			</li>
			
		</ul>
		</form>
	</main>

	<footer>
		<div class="acount">
			<p>合计：<span>￥<span th:text="${total}"></span></span></p>
		</div>
		<div class="sure" id="sureBtn">确认订单</div>
	</footer>
	
</body>
<script src='/static/home/js/jquery.min.js'></script>
<script>

$('#sureBtn').click(function(){
	$('form').submit();
});


</script>
</html>