<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/home/css/cssreset.css">
        <link rel="stylesheet" href="/static/home/css/useraccount.css">
        <title>个人账户</title>
    </head>
    <body>
	    <header>
			<div class="back">
				<a href="#" onclick="history.back(-1);return false;">
					<img src="/static/home/images/back.png" alt="">返回
				</a>
			</div>
			<div class="myorder">
				<p>我的账户</p>
			</div>
		</header>

		<div  class="usernews">
			<div class="title">
				<img src="/static/home/images/person.png" alt="">
				<h2>个人资料</h2>
				<div class="edit">编辑</div>
				<div class="save">保存</div>
			</div>
			<div class="info">
			<!-- 性别 -->
				<div class="sex">
					<div class="icon_sex"><label for="sex">性别：</label></div>
					<div class="text_sex">
					    <input type="radio" name="sex"  value=1  disabled th:checked="${session.member.sex==true}"/><label>男</label>
			            <input name="sex" checked type="radio" value=0 disabled th:checked="${session.member.sex==false}"/><label>女</label>
					</div>
				</div>
				<!-- 生日 -->
				<div>
					<div>生日：</div>
					<div><input type="text" name="birthday" disabled value=""  th:value="${session.member.birthday!=null?#dates.format(session.member.birthday,'yyyy-MM-dd'):'暂未设置'}"></div>
				</div>
				<!-- 生日 -->
				<div>
					<div>绑定邮箱：</div>
					<div><div><input type="text" value="" disabled th:value="${session.member.email}"></div></div>
				</div>
			</div>
		
			
	    </div>

	    <!-- 地址 -->
	    <div class="bg"></div>
	    <div class="address">
	         <div class="title">
				<img src="/static/home/images/address.png" alt="">
				<h2>礼物收货地址</h2>
				<a href="/home/user/userAddress">编辑</a>
			</div>
			<div class="info">
				<div>
					 <div>收件人：</div>
				     <div th:text="${session.defReceAddress!=null?session.defReceAddress.receiver:'暂未设置'}"></div>
				</div>
				<div>
					 <div>手机号：</div>
				     <div th:text="${session.defReceAddress!=null?session.defReceAddress.phone:'暂未设置'}"></div>
				</div>
				<div>
					 <div>详细地址：</div>
				     <div th:text="${session.defReceAddress!=null?session.defReceAddress.address:'暂未设置'}"></div>
				</div>
			 
				
			</div>
	    	
	    </div>

	    <script src='/static/home/js/jquery.min.js'></script>
	    <script src='/static/home/js/useraccount.js'></script>
    </body>
    <script>
    	$('.save').click(updateInfo);
    	function updateInfo(){
    		$('.title .save').hide();
    		$('input[name=sex]').attr('disabled',true);
    		$('input[name=birthday]').attr('disabled',true);
    		
    		var sex = $('input[name=sex]:checked').val();
    		var birthday = $('input[name=birthday]').val();
    		
    		if(sex&&birthday){
    			$.ajax({
    				url:'/user/updateInfo',
    				type:'POST',
    				dataType:'json',
    				data:{sex:sex,birthday:birthday},
    				success:function(res){
    					alert(res.msg);
    				}
    			
    			});
    		}else{
    			alert('保存失败！')
    		}
    	}
    </script>
</html>